<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Recyclable Item Verification</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if session['username'] %}
      <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if active_page == 'profile' %}active{% endif %}">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item {% if active_page == 'redeem' %}active{% endif %}">
        <a class="nav-link" href="/redeem">Redeem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item {% if active_page == 'login' %}active{% endif %}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item {% if active_page == 'register' %}active{% endif %}">
        <a class="nav-link" href="/register">Register</a>
      </li>
      {% endif %}
    </ul>

    {% if session['username'] %}
    <ul class="navbar-nav ml-auto">
      <a href="/profile">
        <li class="nav-item d-flex align-items-center">
          <img
            src="{{ user['profile_pic'] }}"
            class="rounded-circle mr-2"
            style="height: 40px; width: 40px"
          />
          <p class="mb-0" style="color: whitesmoke">{{ user['name'] }}</p>
        </li>
      </a>
    </ul>
    {% endif %}
  </div>
</nav>
